body {
    margin-top: 20%;
    font-family: verdana;
    background: #0055FF;
}

.testButton {
    background: #CCCCCC;
    border-radius: 3px ;
    border: 1px ;
    position: inherit;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 5%;
    margin-left: 30%;
    padding: 5%;
}

.container {
  position: relative;
  padding-left: 40%;
  padding-right: 43%;
}

h1 {
    margin-left: 43%;
}
